{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <h1 style="text-align:center;">Product toevoegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Toevoegen" />
    {{ form_end(form) }}

           <button> <a href="{{ path('flowers_index') }}">Terug naar de lijst</a></button>


{% endblock %}
